.vscode
*.sw*
*.pyc
data/*
!data/.gitkeep
**/.ipynb_checkpoints
**/*egg-info*
sands-ext
*#
bert_finetune/data/*
credentials
notebooks/rahuljo_temp/*
src/scripts/model/*/overwrite/*
!src/scripts/model/*/overwrite/code
src/scripts/model/*/overwrite/code/lib
test/*.csv
